{{!-- Displays div with {{error}} only if error is a valid object --}}
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}

{{!-- Loop through each {{text}} in errors array to display errors 
    note : read object. e.g. errors = [{text: 'a'},{text: 'b'}
    {{text}} is the key --}}
{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}